<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
</head>
<body style="margin: 0">
    <header style="width: 100%; height: 300px; background-color: bisque ;"></header>
    <nav style="width: 100%; height: 50px; background-color: burlywood; margin-top: 5px;">
        <table>
            <tr>
                <td><a href="/">Home</a></td>
                <td><a href="/noticias">Notícias</a></td>
                <td><a href="/cigana">Dança Cigana</a></td>
                <td><a href="/ventre">Dança do Ventre</a></td>
                <td><a href="/apostila">Apostila de Dança do Ventre</a></td>
                <td><a href="/spa">Spa da Nelofar</a></td>
                <td><a href="/equipe">Equipe</a></td>
                <td><a href="/jaquebarreto">Quem é Jaqueline Barreto?</a></td>
                <td><a href="/videos">Vídeos</a></td>
                <td><a href="/contato">Contato</a></td>
            </tr>
        </table>
    </nav>
    <main style="display: flex;">
    <section style="width: 75%; height: 100%; background-color:chocolate ; font-family: 'Courier New', Courier, monospace;">
    <h1>Noticias</h1>
    <table>
     
     <tr>
         <td><h2><%= noticia[0].titulo %></h2></td></tr>
         <tr>
         <td><h3><%= noticia[0].data_criacao %></h3></td>
        </tr>
        <tr>
        <td><%= noticia[0].noticia %></td>
        </tr>
       
        <hr>
    </table>
    </section>
    <aside style="width: 25%; height: 600px; background-color: darkgoldenrod; margin-left: 5px;"></aside>


</body>
</html>