<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contato</title>
</head>
<body>
  <header style="width: 100%; height: 300px; background-color: bisque ;"></header>
  <nav style="width: 100%; height: 50px; background-color: burlywood; margin-top: 5px;">
      <table>
          <tr>
              <td><a href="/">Home</a></td>
              <td><a href="/noticias">Notícias</a></td>
              <td><a href="/cigana">Dança Cigana</a></td>
              <td><a href="/ventre">Dança do Ventre</a></td>
              <td><a href="/apostila">Apostila de Dança do Ventre</a></td>
              <td><a href="/spa">Spa da Nelofar</a></td>
              <td><a href="/equipe">Equipe</a></td>
              <td><a href="/jaquebarreto">Quem é Jaqueline Barreto?</a></td>
              <td><a href="/videos">Vídeos</a></td>
              <td><a href="/contato">Contato</a></td>
              
          </tr>
      </table>
  </nav>
  <main style="display: flex;">
  <section style="width: 100%; height: 300px; background-color:chocolate ;">
  <form style="text-align: center;">
    <div><label for="nome" aria-required="true">Nome:</label><br /><br />
    <input style="width: 500px;" id="nome" type="text" /></div><br />
    <div><label for="email">Endereço de E-mail:</label><br /><br />
    <input style="width: 500px;" id="email" type="email" /></div><br />
    <div><label>Telefone de Contato:</label><br /><br />
    <input style="width: 500px;" id="telefone" type="text" /></div><br />
    <div><label for="mensagem">Deixe sua Mensagem:</label><br /><br />
    <input id="mensagem" type="text" style="height: 500px; width: 500px;" /></div><br /><br />
    <button type="submit">Enviar</button>
  </form>
</section>
</body>
</html>