<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Equipe</title>
</head>
<body>
  <header style="width: 100%; height: 300px; background-color: bisque ;"></header>
  <nav style="width: 100%; height: 50px; background-color: burlywood; margin-top: 5px;">
      <table>
          <tr>
              <td><a href="/">Home</a></td>
              <td><a href="/noticias">Notícias</a></td>
              <td><a href="/cigana">Dança Cigana</a></td>
              <td><a href="/ventre">Dança do Ventre</a></td>
              <td><a href="/apostila">Apostila de Dança do Ventre</a></td>
              <td><a href="/spa">Spa da Nelofar</a></td>
              <td><a href="/equipe">Equipe</a></td>
              <td><a href="/jaquebarreto">Quem é Jaqueline Barreto?</a></td>
              <td><a href="/videos">Vídeos</a></td>
              <td><a href="/contato">Contato</a></td>
              
          </tr>
      </table>
  </nav>
  <main style="display: flex;">
  <section style="width: 100%; height: 300px; background-color:chocolate ;"><a href="/"> Link noticia 1</a></section>
  
</body>
</html>