<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quem é Jaqueline Barreto?</title>
</head>
<body style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;">
  <header style="width: 100%; height: 300px; background-color: bisque ;"></header>
  <nav style="width: 100%; height: 70px; background-color: burlywood; margin-top: 5px; display: flex; ">
      <table style="margin: auto;">
          <tr>
              <td style="border:  1px ridge; border-color: antiquewhite; width: 120px; text-align: center;"><a style="text-decoration: none" href="/">Home</a></td>
              <td style="border:  1px ridge; border-color: antiquewhite; width: 120px; text-align: center;"><a style="text-decoration: none" href="/noticias">Notícias</a></td>
              <td style="border:  1px ridge; border-color: antiquewhite; width: 120px; text-align: center;"><a style="text-decoration: none" href="/cigana">Dança Cigana</a></td>
              <td style="border:  1px ridge; border-color: antiquewhite; width: 120px; text-align: center;"><a style="text-decoration: none" href="/ventre">Dança do Ventre</a></td>
              <td style="border:  1px ridge; border-color: antiquewhite; width: 120px; text-align: center;"><a style="text-decoration: none" href="/apostila">Apostila de Dança do Ventre</a></td>
              <td style="border:  1px ridge; border-color: antiquewhite; width: 120px; text-align: center;"><a style="text-decoration: none" href="/spa">Spa da Nelofar</a></td>
              <td style="border:  1px ridge; border-color: antiquewhite; width: 120px; text-align: center;"><a style="text-decoration: none" href="/equipe">Equipe</a></td>
              <td style="border:  1px ridge; border-color: antiquewhite; width: 120px; text-align: center;"><a style="text-decoration: none" href="/jaquebarreto">Quem é Jaqueline Barreto?</a></td>
              <td style="border:  1px ridge; border-color: antiquewhite; width: 120px; text-align: center;"><a style="text-decoration: none" href="/videos">Vídeos</a></td>
              <td style="border:  1px ridge; border-color: antiquewhite; width: 120px; text-align: center;"><a style="text-decoration: none" href="/contato">Contato</a></td>
          </tr>
      </table>
  </nav>
  <main style="display: flex;">
  <section style="width: 100%;  background-color:#FCF2AF ;">
    <article style="padding: 0 5%;">
    <h1 style="text-align: center;">Jaqueline Barreto e Grupo Oásis Danças RJ</h1>
    <h2 style="text-align: center;">Pioneiros em espetáculos de Dança do Ventre na região de Bangu, Padre Miguel e Realengo.</h2>
    <p>Bom, não tem como contar a história do Grupo Oásis Danças sem voltar onde tudo começou.</p>
    <p>Minha vida como bailarina começou aos 14 anos,quando conheci Ana Karina, uma professora que tinha um grupo de danças (jazz, ballet, afro...). Comecei a fazer aulas como bolsista, pois minha mãe não tinha como pagar minhas aulas, e como pagamento eu iria ser parte desse grupo sem faltar aulas, ensaios e me apresentando dentro do que eu conseguisse me adaptar.</p>
    <p>Empenhei-me tanto que aos 16 anos Ana me deu a minha primeira turma em um pequeno colégio sob sua supervisão. Comecei, então, a coreografar minhas próprias alunas, que participavam dos shows de meio e fim de ano que o grupo Ana Karina Berg Jr. produzia. Daí em diante, comecei a dar aulas em várias instituições. Fiquei muito tempo com Ana, mas por questões de horário e de mudanças naturais da vida, saí do grupo, mas serei sempre grata, porque não podemos esquecer onde tudo começa e nem nossas raízes. Hoje, Ana mora fora do Rio de Janeiro e ainda leciona dança. Depois disso, à procura de novos conhecimentos, passei a fazer aulas com o professor Ney Leblon, onde também participava de shows e eventos com sua turma, de onde me afastei por conta do meu primeiro casamento e gravidez de minha primeira filha. Ney Leblon hoje faz apresentações de dança de salão nos meus shows como meu Mestre e convidado de honra. </p>
    <p>Quando minha filha mais velha nasceu, voltei a praticar dança em uma turma de 5º ano no Centro de Danças Rio e voltei a dar aulas. Minha principal turma era na Academia Corpus Sannus, da amiga Fátima. Um dia, recebi um convite para participar do Domingão do Faustão pela Academia Arnô, onde fui a dois domingos. Era a glória: estudando em uma escola de renome, dando aulas, participando de um programa da Globo, eventos e tendo o meu próprio grupo que se chamava Ânima. Mas, como tudo na vida tem altos e baixos, aconteceu uma coisa que me afastou da dança por 05 anos. Eestava dando uma aula quando minha sapatilha escorregou. Torci meu joelho e fissurei o tornozelo. Fiz vários tratamentos, mas fui proibida de dançar por um tempo. Então, tive minha segunda filha e quando ela já estava com 03 anos, por conta de ter o pezinho para dentro, coloquei-a no ballet, e tentei voltar a dançar, mas o joelho doeu e fiquei frustrada, pois dançar é minha vida.</p>
    <p>Então, a dona dessa academia me incentivou a fazer dança do ventre. Ri e soltei em alto e bom tom: <em>“Eu, dançar aquele negócio que parece uma hula?”</em> Enfim, ela me convenceu a fazer uma aula experimental e daí começou a paixão pela dança do ventre. Fiz 01 ano nessa academia, com Jack Sellus minha primeira professora de ventre. Como tudo que começo quero sempre mais, fui atrás de outros conhecimentos, criei meu grupo e comecei a me apresentar em várias festas Árabes/Ciganas, abrindo um leque de conhecimentos com outros grupos e bailarinas, que sem eu saber me ajudariam em minha empreitada futura.</p>
    <p> Comecei a fazer vários cursos e aulas de dança do ventre e cigana com professores renomados do Rio de Janeiro e São Paulo. Dentre eles, Khalida Zareen (minha Mestra de formação no ventre), Shaira Sayaad, Samra Sanches, Nara Figueiredo (minha Mestra em formação cigana), Vitor Casé (Derbak), Melchizedec (Derbak), Cristiano Markes (Derbak) e Vitor Baldez. Sou sindicalizada no SPDRJ.  Meu grupo hoje está com 20 anos e registrado.</p>
    <p>Então, reunida com amigos em uma conversa informal, surgiu a idéia de montar uma produtora de eventos, onde eu iria convidar esses grupos e bailarinas para mostras de danças, trazendo cultura e entretenimento para nossa Região Bangu, Padre Miguel e Realengo, fazendo de nós pioneiros. Porém, minha cabeça começou a trabalhar com a idéia de ter o meu próprio grupo de danças e como, há anos, já tinha tido, só que desta vez voltado mais para dança do ventre e cigana. Juntei, então, minha filha, a nora de uma amiga, suas 02 filhas e minha parceira de dança.</p>
    <p>Assim, surgiu o Grupo Oásis Danças, que nasceu no dia 9 de Outubro de 2005 com a 1ª mostra de danças Árabe/Cigana da Região no Hospício do Chopp, com a ajuda do amigo Chiquinho, o dono do local. Já esperava que desse certo, pois o sucesso sempre vem quando trabalhamos com amor, dedicação, respeito e humildade. O Colégio CEFAL, em Realengo, abriu as portas para que eu desse aulas e a partir daí o grupo foi crescendo. Hoje, tenho um grande grupo e meu próprio Espaço em Realengo e completamos 20 anos com 42 espetáculos produzidos sob minha direção, Jaqueline Barreto. Fazemos várias festas particulares, dançamos em bailes de dança de salão, hotéis, convenções, mostras, montamos coreografias para 15 anos, etc. Também preparo para o SPDRJ.</p>
    <p>Do Grupo Oásis Danças, sob minha supervisão, sairam várias(os) bailarinas(os) que estão no mercado de trabalho formados e com registro. Em meus espetáculos, conto com apoio de Mestres, amigos, mídias, colaboradores da região, mães, maridos e com dedicação de nossos bailarinos. Oásis é uma grande família.</p>
    <p>O segredo de nosso sucesso é nossa união e o diferencial de nosso grupo é não perder o nosso foco, que é mostrar cultura e trazer amor através de nossa dança. O grupo hoje tem várias modalidades, mas temos a dança do ventre e a cigana como principais metas.</p>
    <p>Nosso Grupo trabalha a dança como terapia, bem estar, cultura e qualidade de vida.</p>
    <p>Se você dança com paixão, e sabe que dançar é muito mais que decorar coreografias e roupas bonitas, junte-se a nós. Dançar não tem idade. Durante o ano, temos duas mostras de danças, uma em Março e outra em Outubro, onde também comemoramos nosso aniversário. Obrigada a todos que acreditam em meu profissionalismo. Temos vários horários e todos os nossos professores são registrados. Aqui você pode.</p>
    <p><strong>Dancevida</strong></p>
    <p>Gratidão Deus, por tudo que sou. e tenho.</p>
    <p>Youtube e blog - Grupo Oásis Danças</p>
    <p>Instagram - @Jaqueline Barreto Gr.oasisdanças</p>
    <p>Facebook - Jaqueline Barreto Grupo Oásis Danças</p>
    <p>Direção Geral e produção: Profª, balarina e coreógrafa</p>
    <p>Jaqueline Barreto - DRT - 27038 - 42 anos  dedicados à dança e terapias de bem estar com muito amor e profissionalismo.</p>
    <p>Licenciatura em Dança.</p>
    <p>Massoterapeuta Humanizada.</p>
    <p>Design de Moda.</p>
    <p>Vem comigo. </p>
    <p style="display: inline">O Oásis fica na <address style="display: inline;"> Rua Claudino Barata, 41 - Realengo </address> Esquina com a Rua Limites</p>
    <p>Informações:  (21)3464-3626 / <a href="https://wa.me/5521992464338?text=Olá,%20gostaria%20de%20informações%20sobre%20as%20aulas%20de%20dança" target="_blank">(21)99246-4338 (WhatsApp)</a></p>
    <p>Gratidão e Dancevida</p>
  </article>
  </section>
  
  
</body>
</html>