:root {
    --yellow-light: #FCF2AF;
    --yellow-medium: #FDEA5D;
    --yellow-dark:#FEC52D;
    --orange-dark: #F26226;
    --orange-medium: #F68B3B;
    --orange-light: #FAB53E;
    --darker: #F47F41;
    --rosey: #F38399;
}